<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration page</title>
</head>
<body>
    
    <div class="container">
        {{content}}
        <h2>User delete</h2>
        <form  id="deleteForm" method="post" action="/delete">
            <div>
                <label for="username">Username: </label>
                <input type="text" id="username" name="username" required>
            </div>
            <button type="submit">delete</button>
        </form>
    </div>
</body>

<script>
    document.getElementById('deleteForm').addEventListener('submit', function(event) {
        var username = document.getElementById('username').value;
        var confirmation = confirm("Do you want to delete " + username + "?");
        if (!confirmation) {
            event.preventDefault(); // Prevent form submission
        }
    });
</script>

</html>


